@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    background: #eee;
}
h1 {
    width: 100%;
    text-align: center;
}
.container {
    column-count: 2;
    column-gap: 30px;
    padding: 20px;

}
.item {
    margin-bottom: 10px;
    break-inside: avoid;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px #0001;

    img {
        width: 100%;
        display: block;
    }
}
.loading {
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: #34acb4;
}

@media (min-width: 768px) {
    .container {
        column-count: 4;
    }
}
@media (min-width: 992px) {
    .container {
        column-count: 6;
    }
}